@import url("https://use.typekit.net/cnc5bkq.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.body {
  overflow-y: hidden;
}

.sourceCode {
  font-family: "source-code-pro", monospace;
  font-weight: 400;
  font-style: normal;
}

.acuminLight {
  font-family: "acumin-pro", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.acuminMid {
  font-family: "acumin-pro", sans-serif;
  font-weight: 200;
  font-style: normal;
}

a {
  font-size: 20px;
  border: 2px solid white;
  border-radius: 7px;
  padding: 3px 9px 3px 9px;
  display: block;
  width: 4.5em;
}

a:hover {
  background-color: rgba(255,255,255,.5);
}

@media screen and (max-width: 300px) {
  ul {
    display: block;
  };
}

